.image-product{
    object-fit: contain;
    width: 100%;
}
.product-detail{
    margin-top:150px
}
.product-detail img{
    border: 1px solid #DFDFE2;
    border-radius: 10px;
}
.info-product{
    margin-top: 40px;
    padding-left: 10px;
}
.info-product h6{
    color: rgb(238, 77, 45);
    font-weight: bold;
}
.info-product h5{
    display: inline;
}
.btn-productdetail{
    height: 40px;
}
.chose-number{
    display: flex;
    justify-content: center;
}
.number-product{
    width: 33%;
    text-align: center;
    border: 1px solid #DFDFE2;
}
.decrease-btn{
    background: #fff;
    width: 33%;
    border: 1px solid #DFDFE2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.increase-btn{
    background: #fff;
    width: 33%;
    border: 1px solid #DFDFE2;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.decrease-btn:hover{
    background-color:  black;
    opacity: 0.8;
    color: white;
}
.increase-btn:hover{
    background-color: black;
    opacity: 0.8;
    color: white;
}
.buynow{
    display: flex;
    justify-content: center;
}
.addtocart{
    display: flex;
    justify-content: center;
}
.btn-buynow{
    background-color: black;
    border-radius: 5px;
    color: white;
    width: 100%;
    border:1px solid #DFDFE2;

}
.btn-addtocart{
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 100%;
    border:1px solid #DFDFE2;
}

.btn-buynow:hover{
    opacity: 0.8;
}

.btn-addtocart:hover{
    opacity: 0.8;
    background-color: #f1f1f1;
}
.behind-productdetail-content{
    margin-top: 50px;
    display: flex;
}
.behind-productdetail{
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 2px solid #DFDFE2;
}
.behind-productdetail-current{
    font-weight: bold;
    color: black;
    border-color: black;
}
.behind-productdetail:hover{
    cursor: pointer;
    opacity: 0.8;
}

.componant-insuranse ul{
    list-style:none;
}

@media (max-width:1280px) {
    .btn-productdetail{
        font-size: 12px;
    }
}
@media (max-width:980px) {
}