.image-product {
    object-fit: contain;
    width: 100%;
}
.product-detail {
    margin-top: 150px;
}
.page-product-detail{
    background-color: #f8f8f8;
}
.product-detail img {
    border: 1px solid #dfdfe2;
    border-radius: 10px;
}
.info-product {
    margin-top: 40px;
    padding-left: 10px;
}
.info-product h6 {
    color: rgb(238, 77, 45);
    font-weight: bold;
}
.price-product-detail-sale {
    color: black !important;
    text-decoration: line-through;
}
.price-product-detail-sale-new {
    margin-left: 2rem;
}
.info-product h5 {
    display: inline;
}
.btn-productdetail {
    height: 40px;
}
.chose-number {
    display: flex;
    justify-content: center;
}
.number-product {
    width: 33%;
    text-align: center;
    border: 1px solid #dfdfe2;
}
.decrease-btn {
    background: #fff;
    width: 33%;
    border: 1px solid #dfdfe2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.increase-btn {
    background: #fff;
    width: 33%;
    border: 1px solid #dfdfe2;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.decrease-btn:hover {
    background-color: #c4123f;
    opacity: 0.8;
    color: white;
}
.increase-btn:hover {
    background-color: #c4123f;
    opacity: 0.8;
    color: white;
}
.buynow {
    display: flex;
    justify-content: center;
}
.addtocart {
    display: flex;
    justify-content: center;
}
.btn-buynow {
    background-color: #c4123f;
    border-radius: 5px;
    color: white;
    width: 100%;
    border: 1px solid #dfdfe2;
}
.btn-addtocart {
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 100%;
    border: 1px solid #dfdfe2;
}

.btn-buynow:hover {
    opacity: 0.8;
}

.btn-addtocart:hover {
    opacity: 0.8;
    background-color: #f1f1f1;
}
.behind-productdetail-content {
    margin-top: 50px;
    display: flex;
}
.behind-productdetail {
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 2px solid #dfdfe2;
}
.behind-productdetail-current {
    font-weight: bold;
    color: black;
    border-color: black;
}
.behind-productdetail:hover {
    cursor: pointer;
    opacity: 0.8;
}

.componant-insuranse ul {
    list-style: none;
}

@media (max-width: 1280px) {
    .btn-productdetail {
        font-size: 12px;
    }
}
@media (max-width: 980px) {
}
.input-chat {
    width: 100%;
    padding-left: 1rem;
    border: 2px solid #dfdfe2;
    border-radius: 10px;
    height: 3rem;
}
.div-input-chat div {
    border-radius: 50% !important;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}
.user-img-review {
    object-fit: contain;
    height: 3rem;
    padding: 0.7rem;
    border: none !important;
}

.review-content {
    margin-top: 2rem;
}

.review-div {
    border: 1px solid #dfdfe2;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.review-product-user-name {
    font-weight: bold;
    font-size: 13px;
}
.review-product-content span label {
    margin: 0 0.5rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 13px;
}
.review-product-content span label:hover {
    cursor: pointer;
    text-decoration: underline;
}
.response-img {
    border-radius: 50% !important;
    border: 1px solid gray;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.response-img img {
    object-fit: contain;
    height: 3rem;
    padding: 0.7rem;
    border: none !important;
}
.response-input input {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid #dfdfe2;
    padding-left: 1rem;
}
.height-3rem {
    height: 3rem;
}
.margin-top-1rem {
    margin-top: 1rem;
}

.star{
    top: 12%;
    position: absolute;
    left: 10%;
}
.tittle-near-product{
    margin-top: 2rem;
    font-size: 20px;
    color: #c4123f;
    font-weight: bold;
}