.category-top{
    display: block;
    position: relative;
    font: "Roboto","Arial",sans-serif;
    padding:20px 50px;
    color: black;
    font-size: 17px;
}
    
.category-top:hover{
    opacity: 0.8;
    cursor: pointer;
    font-weight: bold ;
}