.homepage-top{
    font: "Roboto","Arial",sans-serif;
    font-style: bold;
    margin-top: 40px;
    height: 50px;
    text-align: center;
}
.homepage-top-new{
    font: "Roboto","Arial",sans-serif;
    font-style: bold;
    margin-top: 0px;
    height: 30px;
    text-align: center;
}

.all-product{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #D02090;
    color:aliceblue;
    align-items: center;
    border-radius:10px;
    justify-content: center;
    margin-right: 20px;

}
.all-product-new{
    height: 30px;
    width: 100%;
    display: flex;
    background-color: #D02090;
    color:aliceblue;
    align-items: center;
    border-radius:10px;
    justify-content: center;
    margin-right: 20px;
    font-size: 16px;
    

}

.list-all-product{
    margin-right: 5px;
}

.all-product:hover{
    opacity: 0.8;
    cursor: pointer;
}
.info-homepage-top{
    border-radius:6px;
}

.naviga{
    height: 50px;
    display: flex;
    background-color: #D02090;
    color:white;
    align-items: center;
    justify-content: center;
    border-radius:50px;
}
.naviga-new{
    height: 30px;
    display: flex;
    background-color: #D02090
    ed		;
    color:white;
    align-items: center;
    justify-content: center;
    border-radius:50px;
}
.naviga:hover{
    opacity: 0.8;
    cursor: pointer;
}
.img-homepage{
    margin-top: 50px;
    background-color: white;
}

.list-category-header{
    visibility: hidden;
}

.list-category-header-new{
    visibility: visible;
}
