.homepage-top{
    margin-top: 10px;
    height: 40px;
    text-align: center;
}
.homepage-top-new{
    margin-top: 0px;
    height: 20px;
    text-align: center;
}

.all-product{
    height: 40px;
    width: 100%;
    display: flex;
    background-color: rgb(10, 124, 255);	;
    color:black;
    align-items: center;
    border-radius:10px;
    justify-content: center;
    margin-right: 20px;

}
.all-product-new{
    height: 30px;
    width: 100%;
    display: flex;
    background-color: rgb(10, 124, 255);	;
    color:black;
    align-items: center;
    border-radius:10px;
    justify-content: center;
    margin-right: 20px;
    font-size: 16px;

}

.list-all-product{
    margin-right: 5px;
}

.all-product:hover{
    opacity: 0.8;
    cursor: pointer;
}
.info-homepage-top{
    border-radius:10px;
    background-color:rgb(10, 124, 255);	 
    margin-left: 2px;
}

.naviga{
    height: 40px;
    display: flex;
    color:black;
    align-items: center;
    justify-content: center;
}
.naviga-new{
    height: 30px;
    display: flex;	
    color:black;
    align-items: center;
    justify-content: center;
}
.naviga:hover{
    opacity: 0.8;
    cursor: pointer;
    color: white;
}
.img-homepage{
    margin-top: 50px;
    background-color: white;
}

.list-category-header{
    visibility: hidden;
}

.list-category-header-new{
    visibility: visible;
}

@keyframes listCategory{
    0%{
      transform: translateY(-200px)
    }
    100%{
      transform: translateY(0);
    }   
  }
  
.list-category{
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    width: 80%;
    height: 450px;
    animation-name: listCategory;
    animation-duration: 0.5s;
}