.list-room-view{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
.list-room-view-new{
    visibility: hidden;

    
}
.img-page{
    object-fit:fill;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
}
