.lst-room{
    width: 100%;
    color:black;

}
.room{
    padding:20px 0;
    padding-left: 30px;
    font: bold 1.2rem "Fira Sans", serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: 0066FF;
    border-radius: 6px;
}
.room:hover{
    opacity: 0.8;
    cursor: pointer;
    background: #FF00CC	;
    ;
    color: white;
    font-size: 25px;
}
.navigaCategory{
    background-color: white;
    z-index: 1;
    position: absolute;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #FF00CC	 !important;
    color: black;
    visibility: hidden;
    margin-top: 10px;

}

.navigaCategory-new{
    background-color: white;
    z-index: 1;
    position: absolute;
    color: black;
    border-style:solid;
    border-radius: 6px;
    border-width: 2px;
    visibility: visible;
    animation-name: category;
    animation-duration: 0.7s;
}

@keyframes category{
    0%{
      opacity: 0.5;
      transform: translateX(-100px)

    }
    100%{
      opacity: 1;
      transform: translateX(0px)
    }       
  }