.page-order {
    background-color: #f8f8f8;
}
.title-page-order {
    margin-top: 130px;
    font-weight: bold;
    text-align: center;
    font-size: large;
    color: #c4123f;
}

.page-order-content {
    margin-top: 40px;
}
.header-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.header-page-content-nav {
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
    width: 20%;
    border-bottom: 3px solid white;
    color: #c4123f;
}

.header-page-content-nav:hover {
    border-bottom: 3px solid #c4123f;
}
.focus-order {
    border-bottom: 3px solid #c4123f;
}
.list-product-order {
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 3px;
}
.order {
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #dedede;
}
.product-order {
    padding: 1rem 0;
}
.product-order img {
    width: 60%;
    object-fit: contain;
    padding: 1rem;
    border-right: 1px solid #dedede;
}
.productOrder-name {
    display: block;
    font-weight: bold;
}
.product-order-content {
    padding-left: 0.5rem;
    padding-top: 2rem;
    border-right: 1px solid #dedede;
}
.state {
    padding-top: 2rem;
    padding-left: 3rem;
}
.productOrder-price {
    font-weight: bold;
    padding-right: 0.2rem;
    padding-top: 1rem;
    color: red;
}
.productOrder-total {
    font-weight: bold;
    padding-top: 1.8rem;
}
.productOrder-state {
    padding-top: 1rem;
    font-size: 20px;
}
.productOrder-paid {
    position: absolute;
    bottom: 10%;
    font-weight: bold;
}
.productOrder-nowDelivery {
    position: absolute;
    bottom: 10%;
    left: 34%;
    font-style: oblique;
    font-size: 13px;
}
.orderFocus {
    animation-name: orderFocus;
    animation-duration: 2s;
}
@keyframes orderFocus {
    0% {
        background-color: #ffffe1;
    }
    25% {
        background-color: white;
    }
    100% {
        background-color: #ffffe1;
    }
}

.btn-order-product button {
    border: 1px solid #dedede;
    background-color: white;
    color: red;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.25rem 1rem;
    margin-top: 1rem;
    position: absolute;
    top: 7%;
    right: 2%;
}
.btn-order-product button:hover {
    scale: 1.1;
}
.restore button {
    color: blue !important;
}
.productOrder-date {
    position: absolute;
    bottom: 10%;
    right: 2%;
    font-style: italic;
    font-size: 13px;
}

@media (max-width: 1199px) {
    .product-order img {
        width: 100%;
    }
}
