.ForgotPasswordPage{
    background-image: url('../Image/background_login.png');
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hidden{
    display: none;
}

.margin-top-4rem{
    margin-top: 4rem;
}