.page-cart {
    position: relative;
}
.page-cart h5 {
    border-bottom: 1px solid #dfdfe2;
    padding: 10px 0;
}
.page-cart h5 {
    text-align: center;
}
.delete-page-cart {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #dfdfe2;
}
.delete-page-cart:hover {
    background-color: #c31425;
    cursor: pointer;
    color: white;
}
#page-navleft-cart h5 {
    text-align: center;
}
.product-name-cart {
    font-weight: 500;
}
.product-in-cart {
    border-bottom: solid;
    border-color: gray;
    border-width: 1px;
    padding-bottom: 30px;
    margin-top: 10px;
}
.product-in-cart-img img {
    object-fit: cover;
    width: 100%;
    border-right: 3px solid #dfdfe2;
}
.product-in-cart-img {
    text-align: center;
}
.product-in-cart-img input {
    margin-top: 10px;
}
.count-product-cart input {
    width: 26%;
    text-align: center;
    border: 1px solid #dfdfe2;
}
.count-product-cart button {
    width: 37%;
    text-align: center;
    border: 1px solid #dfdfe2;
    border-radius: 5px;
    background-color: white;
}
.count-product-cart button:hover {
    color: white;
    background-color: #c31425;
}
.buy-in-cart {
    text-align: center;
}
.buy-in-cart button {
    font-size: 11px;
    border-radius: 5px;
    background-color: #c31425;
    padding: 5px 10px;
    color: white;
    border: 1px solid #dfdfe2;
}

.buy-in-cart button:hover {
    color: black;
    background-color: white;
}
.buy-in-cart input {
    font-size: 11px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.buyAll-in-cart {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

.buyAll-in-cart button {
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    margin-top: 20px;
    padding: 5px;
    margin: 0 20px;
    width: 40%;
}
.price-incart {
    border: 1px solid #dfdfe2;
    color: #ee4d2d;
    font-weight: bold;
}
.buyAll-in-cart button:hover {
    color: white;
    background-color: #c31425;
}
#input-price-all {
    border: 1px solid #dfdfe2;
    color: #ee4d2d;
    font-weight: bold;
}
.buyAll-in-cart input {
    width: 40%;
    margin-left: 10px;
    text-align: center;
}

.delete-item-cart {
    text-align: right;
}

.delete-item-cart svg {
    margin-right: 20px;
    cursor: pointer;
    color: #c31425;
}

.delete-item-cart svg:hover {
    scale: 1.2;
}
.product-name-cart label:hover {
    font-weight: bold;
    cursor: pointer;
}
.product-favorite-img {
    display: flex;
    justify-content: center;
}
.product-favorite-img img {
    object-fit: contain;
    width: 80%;
    border: 1px solid #dfdfe2;
    border-radius: 10%;
}
.product-favorite {
    position: relative;
    border-bottom: 1px solid #dfdfe2;
    padding: 1rem 0;
}
.delete-item-favorite {
    position: absolute;
    height: 2rem;
    width: 2rem;
    right: 4%;
}
.delete-item-favorite svg {
    position: absolute;
    right: 4%;
    top: 0;
}
.delete-item-favorite svg:hover {
    scale: 1.2;
    cursor: pointer;
}
.product-favorite-name label:hover {
    font-weight: bold;
    cursor: pointer;
}
.product-notify-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-notify-img img {
    object-fit: fill;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #dfdfe2;
}
.product-notify {
    padding: 1rem 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-bottom: 1px solid gray;
    position: relative;
    cursor: pointer;
}
.product-name-notify {
    font-weight: bold;
    font-size: 13px;
}
.total-notify {
    font-size: 15px;
    color: red;
}
.notify-description {
    color: green;
    font-weight: bold;
}
.date-notify {
    font-style: italic;
    font-size: 13px;
    position: absolute;
    bottom: 1%;
    right: 5%;
}
.code-order {
    font-style: italic;
}
.uncheck-notify {
    background-color: #dfdfe2;
    border-radius: 10px !important;
}

.uncheck-notify:hover {
    background-color: white;
}
.checked-notify {
    background-color: white;
    border-radius: 10px !important;
}

.checked-notify:hover {
    background-color: #dfdfe2;
}

.notthing-cart {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;
    font-weight: bold;
}
.more-notify-btn {
    position: absolute;
    bottom: -5rem;
    width: 100%;
}
.more-notify-btn button {
    color: #c31425 !important;
    width: 100%;
    background-color: #f8f8f8;
}
