.list-search{
    position: absolute;
    left: 26% !important;
    top:90%;
    transform:translateX(-80%);
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    z-index: 101;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}
.product-search{
    z-index: 100;
    padding: 10px;
    position: relative;
}
.product-search>span{
    display: flex;
    align-items: center;
    justify-content: start;
}
.product-search>span>img{
    width: 30%;
    object-fit: contain;
}
.product-search>span>label{
    font-size: 0.8rem;
    height: 50px;
    padding: 0 1rem;
}
.product-search:hover{
    scale: 1.05;
    font-weight: bold;
    border: 1px solid gray;

}
::-webkit-scrollbar {
    width: 2px;
}

.load-search{
    position: absolute;
    top: 37%;
    left: 40%;
}