.list-search{
    position: absolute;
    left: 34%;
    top:90%;
    transform:translateX(-80%);
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    z-index: 101;
    border-radius: 10px;
}
.product-search{
    z-index: 100;
    padding: 10px;
}
.product-search:hover{
    font-weight: bold;
    cursor: pointer;
}