@keyframes header{
    0%{
      transform: translateY(-200px)
    }
    100%{
      transform: translateY(0);
    }   
  }
.header-guest{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    padding: 10px 0px;
    z-index: 99;
    color:black;
}
.header-guest-new{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1px;
    background-color: #f2f2f2		;
    animation-name: header ;
    animation-duration: 0.5s;
    z-index: 99;
    color:black;
}
.linkToGuest{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo-img{
    height: 80px;
    object-fit:cover;
}

.icon-search{
    position:absolute;
    z-index: 1;
    margin-bottom: 3px;
    left: 3%;
    
}

.input-search{
    text-align: center;
    border-radius: 20px !important;
    border-color: rgb(10, 124, 255) !important;
}
.login-btn{
    display: flex;
    justify-content: center;
    align-items: center;

}
.login{
    text-decoration: none;
    color:black	;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-btn:hover .login{
    cursor: pointer;
    font-weight: bold;
    color: rgb(10, 124, 255);
}
.cart{
    text-decoration: none;
    color:black	;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.cart-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px; 
}
.cart-btn:hover .cart{
    cursor: pointer;
    font-weight: bold;
    color: rgb(10, 124, 255);

}

.demo{
    text-align: center;
    font: italic 1.2rem "Fira Sans", serif;
    font-size: 17px;
    color:black	;
}

.hotline{
    text-align: center;
    font: italic 1.2rem "Fira Sans", serif;
    font-size: 17px;
    color:black	;

}



