@keyframes header{
    0%{
      transform: translateY(-200px)
    }
    100%{
      transform: translateY(0);
    }   
  }
.header-guest{
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    border-bottom:solid	;
    border-color:gray;
    border-width:1px;
    z-index: 99;
    color:black	;
}
.header-guest-new{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1px 10px;
    background-color: #f2f2f2		;
    animation-name: header ;
    animation-duration: 0.5s;
    color:black	;
}

.logo-img{
    object-fit:cover;
    width: 100px;
}

.icon-search{
    position: absolute;
    margin-top: 17px;
    z-index: 1;
    
}

.input-search{
    text-align: center;
    margin-top: 20px;
    border-radius: 20px !important;
    border-color: #FF00CC !important;
}
.login-btn{
    padding-top: 20px;
    text-align: center;
}
.login{
    text-decoration: none;
    color:black	;
    
}
.login:hover{
    cursor: pointer;
    font-weight: bold;
}

.cart-btn{
    padding-top: 15px;
    text-align: center;
    
}
.cart-btn:hover{
    cursor: pointer;
    font-weight: bold;

}
.cart{
    text-decoration: none;
    color:black	;
}

.demo{
    text-align: center;
    font: italic 1.2rem "Fira Sans", serif;
    font-size: 17px;
    color:black	;
}

.hotline{
    text-align: center;
    font: italic 1.2rem "Fira Sans", serif;
    font-size: 17px;
    color:black	;

}



