@keyframes header{
    0%{
      transform: translateY(-200px)
    }
    100%{
      transform: translateY(0);
    }   
  }
.header-guest{
 
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    font: italic 1.2rem "Fira Sans", serif;
    background-color: aliceblue;
    ;
}
.header-guest-new{
        position: fixed;
        top: 0;
        width: 100%;
        padding: 1px 10px;
        font: italic 1.2rem "Fira Sans", serif;
        background-color: aliceblue;
        animation-name: header ;
        animation-duration: 0.5s;
        z-index: 1;
}

.logo-img{
    object-fit:contain;
}

.icon-search{
    position: absolute;
    margin-top: 19px;
    z-index: 1;
}

.input-search{
    text-align: center;
    margin-top: 20px;
}
.login-btn{
    padding-top: 20px;
    margin-left: 40px;
}
.login{
    color:black;
    text-decoration: none;
}
.login:hover{
    text-decoration:underline;
}

.cart-btn{
    padding-top: 15px;
    
}
.cart-btn:hover{
    cursor: pointer;

}
.cart{
    color:black;
    text-decoration: none;
}

.demo{
    text-align: center;
    font: italic 1.2rem "Fira Sans", serif;
    font-size: 17px;
}

.hotline{
    text-align: center;
    font: italic 1.2rem "Fira Sans", serif;
    font-size: 17px;

}



