.page-room-content{
    margin-top: 100px;
    background-color: #f8f8f8;
    
}

.page-room-title{
    text-align: center;
}
.page-room-title label{
    font-weight: bold;
    font-size: 1.5rem;
}

.list-product-by-room{
    margin-top: 4rem;
    padding-left: 4rem;
}
.banner-room{
    padding: 1rem;
}
.list-category-by-room{
    padding: 5px 10px;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.select-sort{
    display: flex;
    text-align: center;
    justify-content: end;
    padding-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.combobox-sort select{
    text-align: center;
}

.inRoom{
    display: flex !important;
    width: 100%;
    font-size:1rem;
    justify-content: center !important;
}