@media (max-width: 768px) {
    .decor-nav {
        position: relative;
        left: -222%;
        top: 80%;
    }
    .living-room-nav {
        transform: translateY(35%);
    }
    .img-decor {
        margin-top: 20px;
    }
    .visible-768 {
        display: block !important;
    }
    .naviga-header {
        display: none;
    }
}
@media (max-width: 576px) {
    .decor-nav {
        position: static !important;
    }
}
.product-bestSeller {
    margin-top: 50px;
}
#product-bestSeller {
    text-align: center;
}
.list-product-bestSeller {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
    border-radius: 8px;
}

.img-page-guest {
    margin-top: 150px;
}
.content-room {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.img-living-room img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.img-living-room img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.img-decor img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.img-decor img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.living-room-nav {
    margin-top: 50px;
}
.living-decor-nav a {
    text-decoration: none;
    color: black;
}
.living-decor-nav a:hover {
    cursor: pointer;
    font-weight: bold;
}
.living-decor-nav h3 {
    font-weight: bold;
    display: block;
}

.decor-nav {
    margin-top: 130px;
}
.visible-768 {
    display: none;
}

.bed-room-nav a {
    text-decoration: none;
    color: black;
}

.dining-nav a {
    text-decoration: none;
    color: black;
}
.img-bed-room {
    margin-top: 50px;
    font-weight: bold;
}
.img-bed-room h3 {
    font-weight: bold;
}
.img-bed-room img {
    object-fit: cover;
    width: 80%;
    border-radius: 10px;
}
.img-bed-room img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.img-dining {
    margin-top: 50px;
}

.img-dining img {
    object-fit: cover;
    width: 95%;
    border-radius: 10px;
}

.img-dining img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.bed-room-nav {
    margin-bottom: 2rem;
}
.dining-nav {
    margin-top: 2rem;
    font-weight: bold;
}
.dining-nav h3 {
    font-weight: bold;
}
.list-category-homepage {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    margin: 4rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 0rem 2rem;
    position: relative;
}
@media (max-width: 420px) {
    .list-category-homepage {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.3% 33.3% 33.3%;
        margin: 4rem 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 1rem -10px;
        position: relative;
    }
    .next {
        right: -4% !important;
    }
    .back{
        left: -4% !important;
    }
    .category-homepage{
        font-size: 0.75rem;
    }
}
@media (max-width: 820px) {
    .list-category-homepage {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 50% 50%;
        margin: 4rem 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        padding: 2rem 2rem;
        position: relative;
    }
}
.go-out-next {
    animation-name: overCategory;
    animation-duration: 0.5s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

.go-out-back {
    animation-name: overCategory;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.list-category-homepage svg:hover {
    scale: 1.05;
    cursor: pointer;
}

.list-category-homepage svg {
    margin: 0 1rem;
}
.category-homepage {
    cursor: pointer;
    padding: 1rem;
    text-align: center;
}
@keyframes overCategory {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
.category-homepage:hover {
    scale: 1.1;
}

.category-homepage img {
    width: 60%;
    object-fit: contain;
}
.category-homepage label {
    font-weight: bold;
    margin-top: 2rem;
    display: block;
}
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 45%;
}
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0%;
    top: 45%;
}
