@media(max-width:768px) {
    .decor-nav{
        position: relative;
        left: -222%;
        top: 80%;
    }
    .living-room-nav{
        transform: translateY(35%);
    }
    .img-decor{
        margin-top: 20px;
    }
    .visible-768{
        display: block !important;
    }
    .naviga-header{
        display: none;
    }
}
@media (max-width:576px) {
    .decor-nav{
        position: static !important;
    }
}
.product-bestSeller{
    margin-top: 50px;
}
#product-bestSeller{
    text-align: center;
}
.list-product-bestSeller{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 40px;
    border-radius: 8px;
}

.img-page-guest {
    margin-top: 150px;
}
.content-room{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.img-living-room img{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.img-decor img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.living-room-nav{
    margin-top: 50px;
}
.living-decor-nav a{
    text-decoration: none;
    color: black;
}
.living-decor-nav a:hover{
    cursor: pointer;
    font-weight: bold;
}
.living-decor-nav h3{
    font-weight: bold;
    display: block;
}

.decor-nav{
    margin-top: 130px;
}
.visible-768{
    display: none;
}


